*.iml
.gradle
/.vscode/*
/local.properties
/.idea/*
/server/*
.DS_Store
/build
/server/*
/captures
.externalNativeBuild
.cxx
app/src/main/assets/QwQ-0.5B.Q4_K_M.gguf
.idea/deploymentTargetSelector.xml
.idea/misc.xml
app/src/main/cpp/simple-chat.cpp
app/src/main/cpp/llama-android.cpp.bak
.idea/deploymentTargetSelector.xml